<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:aop="http://www.springframework.org/schema/aop" 
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:util="http://www.springframework.org/schema/util"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
       http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.2.xsd">

    <context:annotation-config/>

    <context:component-scan base-package="com.samsung.ax.restful"/>

    <bean name="exceptionManager" class="com.samsung.ax.restful.common.impl.ExceptionManagerImpl"/>

    <bean name="localizationManager" class="com.samsung.ax.restful.common.impl.ResourceBundleMessageSourceProxy"/>

    <bean name="resourceBundle" class="org.springframework.context.support.ResourceBundleMessageSource">
        <property name="basenames">
            <list>
                <value>messages.exceptions</value>
            </list>
        </property>
    </bean>

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location">
            <value>classpath:config/jdbc.properties</value>
        </property>
    </bean>
 
    <bean id="dataSource" class="com.samsung.ax.restful.db.CryptDataSource" destroy-method="close">
        <property name="driverClassName" value="${jdbc.driver}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
    </bean>

    <bean id="sqlMapClient" class="org.springframework.orm.ibatis.SqlMapClientFactoryBean">
        <property name="configLocation" value="classpath:/sqlmap/sqlMaps.xml"/>
        <property name="dataSource" ref="dataSource"/>
    </bean>
    
    <bean id="transactionaMapper" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean name="userResource" class="com.samsung.ax.restful.resource.UserResource"/>
    <bean name="userService" class="com.samsung.ax.restful.service.impl.UserServiceImpl"/>
    <bean name="userPersistence" class="com.samsung.ax.restful.persistence.impl.UserPersistenceImpl">
        <property name="sqlMapClient" ref="sqlMapClient"/>
    </bean>

    <bean name="bbsResource" class="com.samsung.ax.restful.resource.BBSResource"/>
    <bean name="bbsService" class="com.samsung.ax.restful.service.impl.BBSServiceImpl"/>
    <bean name="bbsPersistence" class="com.samsung.ax.restful.persistence.impl.BBSPersistenceImpl">
        <property name="sqlMapClient" ref="sqlMapClient"/>
    </bean>
    
    <bean name="noteResource" class="com.samsung.ax.restful.resource.NoteResource"/>
    <bean name="noteService" class="com.samsung.ax.restful.service.impl.NoteServiceImpl"/>
    <bean name="notePersistence" class="com.samsung.ax.restful.persistence.impl.NotePersistenceImpl">
        <property name="sqlMapClient" ref="sqlMapClient"/>
    </bean>

    <bean name="propertiesManager" class="com.samsung.ax.restful.common.PropertiesManager"/>

    <util:map id="validateMap" map-class="java.util.HashMap">
        <entry key="validatingName" value-ref="validatingName"/>
        <entry key="missingIdx" value-ref="missingIdx"/>
        <entry key="missingSubject" value-ref="missingSubject"/>
        <entry key="missingContent" value-ref="missingContent"/>
    </util:map>
    
    <bean id="validatingName" class="com.samsung.ax.restful.validate.user.ValidatingName"/>
    <bean id="missingIdx" class="com.samsung.ax.restful.validate.note.MissingIdx"/>
    <bean id="missingSubject" class="com.samsung.ax.restful.validate.note.MissingSubject"/>
    <bean id="missingContent" class="com.samsung.ax.restful.validate.note.MissingContent"/>
    
</beans>
